# ignore everything in the root except the "wp-content" directory.
!themes/

# ignore everything on the root, except:
# "mu-plugins", "plugins", "themes" directory, readme, screenshot, gitignore and docker-compose.yml
/*
!mu-plugins/
!plugins/
!themes/
!README.md
!docker-compose.yml
!screenshot.png
!.gitignore

# ignore these plugins
plugins/hello.php

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
